# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/
**/node_modules/

# Builds
dist/
build/
out/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# Editor folders
.vscode/
.idea/

# pnpm
.pnpm-store/

# TypeScript
*.tsbuildinfo

# Optional: skip lockfile if you prefer clean repos
pnpm-lock.yaml

# chrome sessions
chrome-profile/
apps/recorder-worker/.chrome-profile/
chrome-profile/

